.project
.pydevproject
.pyc
.settings/
.log
__pycache__/
myenv
env/
*.exe
*.pyc
.idea
build/
pynta.egg-info
dist/
venv/
*.egg-info/
_build/
.ipynb_checkpoints/
.qt_for_python
pyo3-test
*.hdf5
fpsdata.txt
.vscode/settings.json
.vscode/settings.json
rust_modules/*/target
*.pyd
Cargo.lock