.project
.pydevproject
.pyc
.settings/
.log
__pycache__/
myenv
Thumbs.db
.T90
.T99
.T98
*.BAK
*.T9*
*.TB*
*.log
logbook.db
*config_devices.xml
*config_tasks.yml
*.exe
*.pyc
.idea
build
UUTracking.egg-info
dist