include MANIFEST.in
include README.md
include setup.py
include LICENSE
include AUTHORS
include examples/*
include pynta/view/GUI/Icons/*
include pynta/view/GUI/designer/*
include doc/
include pynta/util/example_config.yml
exclude pynta/view/old/
