alabaster==0.7.12
asn1crypto==0.24.0
Babel==2.7.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
cryptography==3.3.2
cycler==0.10.0
docutils==0.14
h5py==2.9.0
idna==2.8
imagesize==1.1.0
Jinja2==2.10.1
kiwisolver==1.1.0
lantz-core==0.5.3
lantz-drivers==0.5.2
lantz-ino==0.5.2
lantz-qt==0.5.3
lantz-sims==0.5.2
lantzdev==0.5.2
llvmlite==0.29.0
MarkupSafe==1.1.1
matplotlib==3.1.1
mkl-fft==1.0.12
mkl-random==1.0.2
numba==0.45.0
numpy==1.16.4
packaging==19.0
pandas==0.24.2
pimpmyclass==0.4.3
Pint==0.9
pycparser==2.19
PyDAQmx==1.4.2
Pygments==2.4.2
pyOpenSSL==19.0.0
pyparsing==2.4.1
pypylon==1.4.0
pyqt5==5.13.0
pyqt5-sip==4.19.18
pyqtgraph==0.10.0
pyreadline==2.1
PySignal==1.1.1
PySocks==1.7.0
python-dateutil==2.8.0
pytz==2019.1
PyVISA==1.9.1
PyYAML==5.1.1
pyzmq==18.0.0
requests==2.22.0
scipy==1.2.1
Serialize==0.1
six==1.12.0
snowballstemmer==1.9.0
Sphinx==2.1.2
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
stringparser==0.5
tornado==6.0.3
trackpy==0.4.1
urllib3==1.24.2
win-inet-pton==1.1.0
wincertstore==0.2
